<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TwitterEventDetector</display-name>
  <welcome-file-list>
    <welcome-file>peaksMap.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>updatePeak</servlet-name>
    <servlet-class>UpdatePeaks.UpdatePeak</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>setCoordinates</servlet-name>
    <servlet-class>Coordinates.SetCoordinates</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>buildPeak</servlet-name>
    <servlet-class>buildPeaks.BuildPeak</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dbScan</servlet-name>
    <servlet-class>dbScan.DbScan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>textMining</servlet-name>
    <servlet-class>textMining.TextMining</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>allTextMining</servlet-name>
    <servlet-class>allTextMining.AllTextMining</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>popupBuilder</servlet-name>
    <servlet-class>popupBuilder.PopupBuilder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tweetsFilter</servlet-name>
    <servlet-class>tweetsFilter.TweetsFilter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateEvent</servlet-name>
    <servlet-class>updateEvent.UpdateEvent</servlet-class>
  </servlet>
      <servlet>
    <servlet-name>listEvents</servlet-name>
    <servlet-class>listEvents.ListEvents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEvent</servlet-name>
    <url-pattern>/updateEvent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tweetsFilter</servlet-name>
    <url-pattern>/tweetsFilter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatePeak</servlet-name>
    <url-pattern>/updatePeak</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>setCoordinates</servlet-name>
    <url-pattern>/setCoordinates</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>buildPeak</servlet-name>
    <url-pattern>/buildPeak</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dbScan</servlet-name>
    <url-pattern>/dbScan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>textMining</servlet-name>
    <url-pattern>/textMining</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>popupBuilder</servlet-name>
    <url-pattern>/popupBuilder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>allTextMining</servlet-name>
    <url-pattern>/allTextMining</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>listEvents</servlet-name>
    <url-pattern>/listEvents</url-pattern>
  </servlet-mapping>
</web-app>